.wrap{
    perspective: 700px;
}

h1{
    margin: 0px;
}

.card{
    position: relative;
    color: whitesmoke;
    text-align: center;
    line-height: 200px; 
    width: 200px;
    height: 200px;
    margin: 200px;
    
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}

.front, .back{
    background: #6699FF;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    backface-visibility: hidden;
}

.back{
    transform: rotateY(180deg);
}

.card:hover{
    transform: rotateY(180deg);
}